
body { 
  background-color: white;
  margin: 0; 
  padding:0;
  max-width: 100%; 
  height:1000px; 
  cursor: default;
  transition: 0.5s ease;
} 
 





header { 
  width: 100%; 
  height: 10vh; 
  display: flex; 
} 
 
#header-left { 
  width: 100%; 
  height: 10vh; 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
} 
 
#header-right { 
  width: 100%; 
  height: 10vh; 
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding-right:2%;
} 
 
#nav-btn { 
  min-width: 2.5vh; 
  height: 2.5vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  margin-left: 1%; 
  border-radius: 20px; 
  border: 0.1px solid rgba(156, 155, 155, 0); 
  padding: 20px; 
  transition: 0.5s; 
} 
 
#nav-btn:hover { 
  border: 0.1px solid rgb(116, 119, 119); 
} 
 
.btn-line { 
  width: 100%; 
  height: 1px; 
  background-color: black; 
  margin-top: 0.70%; 
} 
 
#menu { 
  position: fixed; 
  top: 0; 
  left: -100%; 
  width: 100%; 
  min-height:1000px; 
  background-color: #dddada; 
  transition: left 0.3s ease; 
  display: flex; 
  flex-direction: column; 
  color: white; 
  cursor: url(pointer.png), auto; 
  z-index:8888;
} 
 
#menu.show { 
  left: 0; 
  transition: 0.7s; 
} 
 
#close-btn { 
  width: 25px; 
  height: 25px; 
  margin-left: 2%; 
  margin-top: 2%; 
  cursor: pointer; 
  background-color: transparent; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: none; 
  cursor: url('pointer'), auto; 
} 
 
.close-icon { 
  font-size: 50px; 
  color: black; 
  cursor: url('pointer.png'), auto; 
} 
 
.close-icon:hover { 
  color: rgb(148, 142, 142); 
} 
 
#menu.close { 
  left: -100%; 
  transition: left 0.3s ease; 
} 
 
#menu a { 
  color: black; 
  margin-top: 2%; 
  margin-left: 2%; 
  font-size: 2vw; 
  text-decoration-color: transparent; 
  font-family: 'Source Sans Pro', sans-serif; 
} 
 
#menu a:hover { 
  transition: all 0.3s ease; 
  text-decoration-color: black; 
  cursor: default;
} 
 
main { 
  width: 100%; 
  height: 100%; 
  display: flex; 
} 
 
#main-left { 
  width: 100%; 
  height: 100%; 
  margin-left: 8vh; 
} 

#main-right{
  width:100%;
  height: 100%;
}
 
#box-nom { 
  width: 100%; 
  height: 50vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  margin-top: 2%; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 10vw; 
  padding:0;
  margin:0-left
} 
 
#box-nom > p { 
  margin-top: 0; 
  line-height: 0.9; 
  margin-left:0;
  padding-left:0;
} 
 
#box-nom span { 
  font-weight: 100; 
 
} 
 
#box-language-links { 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  height: 30%; 
  margin-left:10px;

} 
 
#box-language-links a { 
  color: black; 
  margin-bottom: 2%; 
  font-size: 3vw; 
  text-decoration-color: transparent; 
  font-family: 'Source Sans Pro', sans-serif; 

} 
 
#box-language-links a:hover { 
  transition: text-decoration 1s ease; 
  text-decoration-color: black; 
  cursor: default;

} 
 
#main-right { 
  width: 100%; 
  height: 100%; 
} 
 
#page2 { 
  position: fixed; 
  top: 0; 
  left: -100%; 
  width: 100%; 
  height: 100%; 
  background-color: white; 
  transition: right 1s ease; 
  display: flex; 
  flex-direction: column; 
  color: white; 
  cursor: url(pointer.png), auto; 
  border-right: 2px solid black; 
  z-index:8888;
} 
 
#page2.show { 
  left: 0; 
  transition: 1s ease; 
}

.custom-cursor{
  position:fixed;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width:10px;
  height:10px;
  border-radius:50%;
  background:#000;
  pointer-events:none;
  z-index:99999;
  transition: transform 0.2s ease, opacity 0.3s;

}

.custom-cursor-before{
  position:fixed;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background:rgba(0,0,0,0.2);
  width:30px;
  height:30px;
  border-radius:50%;
  transition:0.4s ease;
  opacity:1;
  pointer-events:none;
}

/* TOGGLE DARK MODE SWITCH */

input[type="checkbox"]{
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  position: relative;
  height:30px;
  width:60px;
  background-color:rgba(184, 178, 178, 0.9);
  border-radius:5rem;
  transition: background-color .2s;
  box-shadow: 0 0 15px #0000001e;
} 

input[type="checkbox"]::after{
  content:'';
  position:absolute;
  top:50%;
  left:30%;
  transform: translate(-50%, -50%);
  height:20px;
  width:20px;
  border-radius:5rem;
  background-color:rgba(0, 0, 0, 0.8);
  transition: left .2s;
}

input[type="checkbox"]:checked{
  background-color: rgba(255, 255, 255, 0.9);
}

input[type="checkbox"]:checked::after{
  left:70%;
}

