

html{
    margin:0;
    cursor: url('pointer.png'), auto;
}

body{
    background-color:white;
    margin:0;
    width: 100%;
    height: 100vh;
    cursor: url('pointer.png'), auto;
}



 header{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: white;
    cursor: url('pointer.png'), auto;
    }

    #header-left{
      width:100%;
      height: 10vh;
      display:flex;
      justify-content:flex-start;
      align-items:center;
    }  

    #header-right{
       width:100%;
       height: 10vh;
    }

    #nav-btn{                       
        min-width: 2.5vh;
        height: 2.5vh;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin-left: 1%;
        border-radius:20px; 
        border: 0.1px solid rgb(156, 155, 155, 0); 
        padding: 20px;
        transition: 0.5s;
        }

        #nav-btn:hover{
           border: 0.1px solid rgb(116, 119, 119);
            
        }
            .btn-line{
                 width:100%;
                 height: 1px;
                 background-color: black;
                 margin-top:0.70%;
             }


    #menu{
        position: fixed;
        top:0;
        left: -100%;   
        width: 100%;      
        height: 100%;
        background-color: #dddada;
        transition: left 0.3 ease;
        display: flex;
        flex-direction: column;
        color: white;
        cursor: url(pointer.png);
    }
 
         #menu.show{    
            left:0;
            transition: 0.7s;
        }

 
        #close-btn{  
            width: 25px;
            height: 25px;
            margin-left: 2%;
            margin-top: 2%;
            cursor: pointer;
            background-color: transparent;
            display: flex;
            justify-content:center;
            align-items:center;
            border: none;
            cursor: url('pointer'), auto;
        }

        .close-icon{
          font-size: 50px;
          color: black;
          cursor:url('pointer.png'), auto;
        }

        .close-icon:hover{
          color: rgb(148, 142, 142);
        }
     
           
        #menu.close{     
          left:-100%;
          transition: left 0.3s ease;
        }


        #menu a{           
            color: black;
            margin-top: 2%;
            margin-left: 2%;
            font-size: 2vw;
            text-decoration-color: transparent;
            font-family: 'Source Sans Pro', sans-serif;

        }

        #menu a:hover{          
            transition: all 0.3s ease;
            text-decoration-color: black;
            cursor: url('pointer.png'), auto;
        }

main{
width: 100%;
height: 100%;
background-color:rgba(255, 255, 255, 0.486);
display:flex;
}
     
       #main-left{
          width:100%;
          height: 100%;
          margin-left:8vh;
        } 

            
              #box-nom{
                 width:100%;
                 height: 50vh;
            
                 display:flex;
                 flex-direction: column;
                 justify-content: flex-start;
                 margin-top: 2%;
                 font-family: 'Source Sans Pro', sans-serif;
                 font-size: 10vw;
                 } 

                 #box-nom > p{
                 margin-top: 0;
                 line-height:0.9;
                 }

                 #box-nom span{
                 font-weight: 100;
                 }

            

                #box-language-links{
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height:30%;
                   
                }

                #box-language-links a{
                    color: black;
                    margin-bottom: 2%;
                    font-size: 3vw;
                    text-decoration-color: transparent;
                    font-family: 'Source Sans Pro', sans-serif;


                }

                #box-language-links a:hover{
                    transition: text-decoration 1s ease;
                    text-decoration-color: black;
                    cursor: url('pointer.png'),auto;
                }

            


      #main-right{
        width:100%;
        height: 100%;
      }

      #page2{
        position: fixed;
        top:0;
        left: -100%;   
        width: 100%;      
        height: 100%;
        background-color: white;
        transition: right 1s ease;
        display: flex;
        flex-direction: column;
        color: white;
        cursor: url(pointer.png);
        border-right: 2px solid black;
    }


    #page2.show{
      left:0;
      transition: 1s ease;
    }
     




